body{
    margin: 0;
}
.section-1{
    background-color: rgb(26, 26, 65);
    height: 700px;
}
.section-2{
    background-color: darkcyan;
    height: 700px;
}

/* .two{
    color: blueviolet;
}
.one {
    color: aquamarine;
} */

.block{
    color: white;
    border: white dashed 5px;
    width: 400px;
    height: 200px;
    /*Внешний отступ*/
    margin-bottom: 20px;
}
.header{
    color: coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text{
    color: rgb(14, 253, 114);
}