header {
	display: flex;
	margin-top: 40px;
	justify-content: space-between;
}
h1 {
	margin: 0px;
}
p {
	margin: 0;
}
.list-item {
	margin-left: 40px;
}
.logo {
	margin: 40px 0px 0px 150px;
}

.logo h1 {
	font-family: "Bebas Neue", cursive;
	font-size: 50px;
	line-height: 0.5;
	font-weight: 400;
	color: #404040;
}
.logo p {
	font-family: "Arial";
	text-transform: capitalize;
	font-size: 16px;
	color: #404040;
}
.list {
	list-style-type: none;
	display: flex;
	font-family: "Saira Semi Condensed";
	text-transform: uppercase;
  margin-right: 150px;
}
.list-item {
	margin-left: 20px;
}
.chosen-item {
	background-color: #d45e5e;
  
}
.intro {
	display: flex;
	align-items: center;
	flex-direction: column;
  margin-top: 60px;
}
.quote {
	font-family: Arial;
	font-size: 100px;
	font-weight: 900;
	line-height: 1;
	opacity: 0.21;
}
.description {
	width: 800px;
	font-family: Cambria;
	font-size: 22.5px;
	line-height: 36px;
	font-weight: 500;
	font-style: italic;
	color: #404040;
	text-align: center;
}

h3 {
	font-style: italic;
	width: 1230px;
}
.galery {
	display: flex;
	width: 1280px;
	margin: 0px auto;
	flex-wrap: wrap;
	justify-content: space-around;
}

img {
	width: 275px;
	margin: 10px;
	border: 1px solid red;
}
